#board {
    margin: auto;
    width: 60%;
    min-width: 1000px;
    border: 0.3rem solid #8b4513 ;
    border-radius: 1rem;
    padding: 1vh;
    user-select: none;
    background-color: darkgreen;
}

.player {
    display:grid;
    height:10rem;
    margin: 1rem;
    margin-left: 5rem;
    padding-left: 50px;
    padding-bottom: 2rem;
}

#playername {
    margin: 1rem;
    width: 50%;
    text-align: left;
}
#username {
    color: blue;
}
#computerName {
    color: darkred;
}
#actions {
    width: 100%;
}
#center {
    margin:1rem;
    height:5rem;
    text-align: center;
}
.hand {
    display:inline-block;
    columns: 52;
    padding-left: 5rem;
    width: 50%;
}

.card {
    margin-top: 2rem;
    height: 7rem;
    width: 5rem;
    margin-left: -4rem;
}

.selectedCard {
    margin-top: 0;
}

footer {
    position: relative;
    margin-top: 1rem;
    text-align:center;
}
