#board {
    margin: auto;
    padding: 1vh;
    text-align: center;
    user-select: none;
}
#player2name {
    color:green;

}
.player {
    margin: 5vh;
    display:grid;
    height:20vh;
}

#player1name {
    color: blue;
    width: 100%;
    padding: 0;
    margin: 0;
}

#center {
    padding: 10vh;
}
.hand {
    display:inline-block;
    columns: 52;
    padding: 0;
    padding-left: -5rem;
}

.card {
    margin-top: 2rem;
    height: 7rem;
    width: 5rem;
    margin-left: -80px;
}

.selectedCard {
    margin-top: 0;
}