#board {
    margin: auto;
    width: 70%;
    border: 0.3rem solid #8b4513 ;
    border-radius: 1rem;
    padding: 1vh;
    text-align: center;
    user-select: none;
    background-color: green;
}
#player2name {
    color:green;

    margin: 1rem;
}
.player {
    display:grid;
    height:10rem;
    margin: 1rem;
    margin-left: 5rem;
    padding-left: 50px;
    padding-bottom: 2rem;
}

#player1name {
    color: blue;
    margin: 1rem;
}

#center {
    margin:1rem;
    height:2rem;
}
.hand {
    display:inline-block;
    columns: 52;
    padding-left: 5rem;
    width: 100%;
}

.card {
    margin-top: 2rem;
    height: 7rem;
    width: 5rem;
    margin-left: -4rem;
}

.selectedCard {
    margin-top: 0;
}

footer {
    position: relative;
    margin-top: 1rem;
}